@using Nop.Web.Areas.Admin.Components
@model ConfigurationModel

@{
    Layout = "_AdminLayout";
    NopHtml.SetActiveMenuItemSystemName("MikesChainsaw.Configuration");

    ViewBag.PageTitle = T("Admin.NopStation.Theme.MikesChainsaw.Configuration").Text;
}

    <script>
    $(document).ready(function() {
        $("#@Html.IdFor(model => model.EnableImageLazyLoad)").change(toggleLazyLoadPictureId);
        @*$("#@Html.IdFor(model => model.ShowPictureOnOrderCompletedPage)").change(toggleOrderCompletedPagePictureId);
        $("#@Html.IdFor(model => model.ShowSupportedCardsPictureAtPageFooter)").change(toggleSupportedCardsPictureId);
        $("#@Html.IdFor(model => model.ShowLogoAtPageFooter)").change(toggleFooterLogoPictureId);*@

        toggleLazyLoadPictureId();
        //toggleOrderCompletedPagePictureId();
        //toggleSupportedCardsPictureId();
        //toggleFooterLogoPictureId();
    });

    function toggleLazyLoadPictureId() {
        if ($('#@Html.IdFor(model => model.EnableImageLazyLoad)').is(':checked')) {
            $('#pnlLazyLoadPictureId').show();
        } else {
            $('#pnlLazyLoadPictureId').hide();
        }
    }

    @*function toggleOrderCompletedPagePictureId() {
        if ($('#@Html.IdFor(model => model.ShowPictureOnOrderCompletedPage)').is(':checked')) {
            $('#pnlOrderCompletedPagePictureId').show();
        } else {
            $('#pnlOrderCompletedPagePictureId').hide();
        }
    }

    function toggleSupportedCardsPictureId() {
        if ($('#@Html.IdFor(model => model.ShowSupportedCardsPictureAtPageFooter)').is(':checked')) {
            $('#pnlSupportedCardsPictureId').show();
        } else {
            $('#pnlSupportedCardsPictureId').hide();
        }
    }

    function toggleFooterLogoPictureId() {
        if ($('#@Html.IdFor(model => model.ShowLogoAtPageFooter)').is(':checked')) {
            $('#pnlFooterLogoPictureId').show();
        } else {
            $('#pnlFooterLogoPictureId').hide();
        }
    }*@
    </script>

<form asp-controller="MikesChainsaw" asp-action="Configure" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.NopStation.Theme.MikesChainsaw.Configuration")
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            @await Component.InvokeAsync(typeof(StoreScopeConfigurationViewComponent))
            <div asp-validation-summary="All"></div>
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="EnableImageLazyLoad_OverrideForStore" asp-input="EnableImageLazyLoad" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="EnableImageLazyLoad" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="EnableImageLazyLoad" />
                                <span asp-validation-for="EnableImageLazyLoad"></span>
                            </div>
                        </div>
                        <div class="form-group" id="pnlLazyLoadPictureId">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="LazyLoadPictureId_OverrideForStore" asp-input="LazyLoadPictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="LazyLoadPictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="LazyLoadPictureId" />
                                <span asp-validation-for="LazyLoadPictureId"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="ShowPictureOnOrderCompletedPage_OverrideForStore" asp-input="ShowPictureOnOrderCompletedPage" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowPictureOnOrderCompletedPage" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ShowPictureOnOrderCompletedPage" />
                                <span asp-validation-for="ShowPictureOnOrderCompletedPage"></span>
                            </div>
                        </div>
                        <div class="form-group" id="pnlOrderCompletedPagePictureId">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="OrderCompletedPagePictureId_OverrideForStore" asp-input="OrderCompletedPagePictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="OrderCompletedPagePictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="OrderCompletedPagePictureId" />
                                <span asp-validation-for="OrderCompletedPagePictureId"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="ShowSupportedCardsPictureAtPageFooter_OverrideForStore" asp-input="ShowSupportedCardsPictureAtPageFooter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowSupportedCardsPictureAtPageFooter" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ShowSupportedCardsPictureAtPageFooter" />
                                <span asp-validation-for="ShowSupportedCardsPictureAtPageFooter"></span>
                            </div>
                        </div>
                        <div class="form-group" id="pnlSupportedCardsPictureId">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="SupportedCardsPictureId_OverrideForStore" asp-input="SupportedCardsPictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="SupportedCardsPictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="SupportedCardsPictureId" />
                                <span asp-validation-for="SupportedCardsPictureId"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="ShowLogoAtPageFooter_OverrideForStore" asp-input="ShowLogoAtPageFooter" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="ShowLogoAtPageFooter" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ShowLogoAtPageFooter" />
                                <span asp-validation-for="ShowLogoAtPageFooter"></span>
                            </div>
                        </div>
                        <div class="form-group" id="pnlFooterLogoPictureId">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="FooterLogoPictureId_OverrideForStore" asp-input="FooterLogoPictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterLogoPictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="FooterLogoPictureId" />
                                <span asp-validation-for="FooterLogoPictureId"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="FooterEmail_OverrideForStore" asp-input="FooterEmail" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterEmail" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="FooterEmail" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="FooterBackgroundPictureId_OverrideForStore" asp-input="FooterBackgroundPictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="FooterBackgroundPictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="FooterBackgroundPictureId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="NewsletterBackgroundPictureId_OverrideForStore" asp-input="NewsletterBackgroundPictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="NewsletterBackgroundPictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="NewsletterBackgroundPictureId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="BreadcrumbBackgroundPictureId_OverrideForStore" asp-input="BreadcrumbBackgroundPictureId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="BreadcrumbBackgroundPictureId" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="BreadcrumbBackgroundPictureId" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-override-store-checkbox asp-for="CustomCss_OverrideForStore" asp-input="CustomCss" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                                <nop-label asp-for="CustomCss" />
                            </div>
                            <div class="col-md-8">
                                <nop-textarea asp-for="CustomCss"></nop-textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>